<%= provide(:title, "Order Management") %>
<%= render 'shared/admin_nav'%>

<div class="row">
	<div class="ui fluid card">
		
		<div class="content">
			<div class="ui container stackable grid">
				<div class="five column center aligned row">
					<div class="column">UNPAID<br> ORDERS<br> 12</div>
					<div class="column">UNFULFILLED<br> ORDERS<br> 12</div>
					<div class="column">FULFILLED<br> ORDERS<br> 12</div>
					<div class="column">PROBLEM<br> ORDERS<br> 12</div>
					<div class="column">ORDER<br> FEEDBACKS<br> 12</div>
				</div>
			</div>
		</div>

	</div>
</div>