<div class="item">
	<i class="large marker middle aligned icon"></i>
	<div class="content">
		<%= link_to pickup_location.name, "#", class: "header" %>
		<%= content_tag :div, pickup_location.description, class: "description" %>
	</div>
</div>
