<% provide(:title, "Delivery Management") %>
<%= render 'shared/admin_nav' %>

<h1 class="ui header title">Delivery Management</h1>
<h4 class="ui horizontal divider header">
  <i class="tag icon"></i>
  New Delivery Location
</h4>
<div class="row">
	<%= render 'pickup_locations/new' %>
</div>

<h4 class="ui horizontal divider header">
  <i class="tag icon"></i>
  New Delivery Time
</h4>
