<% provide(:title, "Edit Milktea") %>
<% provide(:button_text, "Save Milktea") %>
<% provide(:form_route, edit_milktea_orderables_path(@milktea_orderable)) %>

<h1 class="ui header title">Edit Your Milktea</h1>
<%= render 'form' %>