<div class="ui segment">
  <div class="field">
    <div class="ui toggle checkbox">
      <input type="checkbox" name="delete_confirm" id="delete_confirm" tabindex="0" class="hidden">
      <label>Enable Delete</label>
    </div>
  </div>
</div>
<div class="field">
	<%= link_to "Delete Item", recipe_path(@recipe), method: "delete", class:"ui disabled inverted fluid red button", id: "recipeDeleteButton" %>
</div>