<% provide(:button_text, "Create New Menu Item") %>
<% provide(:label_name, "New Menu Item") %>
<% provide(:button_class, "blue") %>
<div class="ui fluid card" id="newRecipeCard">
	<div class="content">
		<%= render 'recipes/form' %>
	</div>
</div>