<tr>
	<td class="selectable"><%= link_to recipe.name, recipe_path(recipe) %></td>
	<td>$ <%= recipe.price %></td>
	<td class="selectable"><%= link_to semantic_icon("add to cart"), orderables_path(type: "dish", buyable_id: recipe.id), method: :post %></td>
</tr>