<% provide(:title, "Edit Item") %>
<% provide(:button_text, "Update Item") %>
<%= render 'shared/admin_nav' %>

<h1 class="ui header title">Edit Item</h1>
<div class="row">
	<div class="ui grid">

		<div class="six wide column">
			<%= image_tag @recipe.image.url.to_s, class:"ui centered image" if @recipe.image? %>
		</div>
		<div class="ten wide column">
				<%= render 'form' %>
		</div>

	</div>
</div>