<% provide(:title, "Edit Item") %>
<% provide(:button_text, "Update Item") %>
<%= render 'shared/admin_nav' %>

<h1 class="ui header title">Edit Item</h1>
<div class="row">
	<%= render 'form' %>
</div>