<% provide(:title, "Menu") %>

<div class="row">
	<table class="ui selectable inverted brown table">
		<thead><tr><th class="twelve wide">Taiji Milk Tea</th><th class="two wide"></th><th class="one wide"></th></tr></thead>
		<tbody>
			<% @milkteas.each do |milktea| %>
				<%= render 'recipe', recipe: milktea %>
			<% end %>
		</tbody>
	</table>

	<% @dish_categories.each_with_index do |dish_category, key| %>
		<table class="ui selectable inverted <%= @colors[key % 4]%> table">
			<thead><tr><th class="twelve wide"><%= dish_category.name %></th><th class="two wide"></th><th class="one wide"></th></tr></thead>
			<tbody>
				<% dish_category.dishes.each do |recipe| %>
					<%= render 'recipe', recipe: recipe %>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div>
