<% provide(:title, "Menu") %>

<div class="centered row">
	<div class="twelve wide column">
		<div class="ui fluid card">
			<div class="content">
				<div class="center aligned categoryTitle">TAIJI MILKTEA</div>
				<div class="description">
					<div class="ui container grid">

						<div class="two column stackable row">
							<% @milkteas.each do |milktea| %>
								<div class="center aligned column">
									<%= render 'recipe', recipe: milktea %>
								</div>
							<% end %>
						</div>

					</div>
				</div>
			</div>
		</div>


		<% @dish_categories.each do |dish_category| %>
			<div class="ui fluid card">
				<div class="content">
					<div class="center aligned categoryTitle"><%= dish_category.name.upcase %></div>
					<div class="description">
						<div class="ui container grid">
							<div class="two column stackable row">
								<% dish_category.dishes.where("active = ?", true).each do |recipe| %>
									<div class="center aligned column">
										<%= render 'recipe', recipe: recipe %>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
