<% provide(:title, "Menu") %>

<div class="centered row">
	<div class="twelve wide column">
		<div class="ui fluid card">
			<div class="content">
				<div class="center aligned header">Taiji Milktea</div>
				<div class="description">
					<div class="ui container grid">

						<div class="two column row">
							<% @milkteas.each do |milktea| %>
								<div class="center aligned column">
									<%= render 'recipe', recipe: milktea %>
								</div>
							<% end %>
						</div>

					</div>
				</div>
			</div>
		</div>


		<% @dish_categories.each do |dish_category| %>
			<div class="ui fluid card">
				<div class="content">
					<div class="center aligned header"><%= dish_category.name %></div>
					<div class="description">
					<% dish_category.dishes.each do |recipe| %>
						<%= render 'recipe', recipe: recipe %>
					<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
