<% provide(:title, "Menu Item") %>

<div class="row">
	<div class="ui grid">

		<div class="six wide column">
			<%= image_tag @recipe.image.url.to_s, class:"ui centered image" if @recipe.image? %>
		</div>
		<div class="ten wide column">
			<h2 class="ui title header"><%= @recipe.name %></h2>
			<% unless @recipe.active %><p class="error">THIS ITEM IS NO LONGER AVAILABLE</p><% end %>
			<p>$ <%= @recipe.price %></p>
			<p><%= @recipe.description %></p>
		</div>

	</div>
</div>