<%-# This view is controlled by RecipeController and rendered through recipes/manage view %> 
<% provide(:addon_button_text, "Create New Add-on") %>
<% provide(:addon_label_name, "New Milktea Add-on") %>
<% provide(:addon_button_color, "blue") %>

<div class="ui fluid card">
	<div class="content">
		<div class="row">
			<%= render 'milktea_addons/form' %>
		</div>

		<div class="row" id="addonListing">
			<div class="ui fluid card">
				<div class="content">
					<% @addons.each do |addon| %>
						<%= link_to addon.name, edit_milktea_addon_url(addon), class:"ui #{addon.active ? "orange" : "red"} tag label" %>
					<% end %>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top: 0.6em;">
			<button class="ui fluid inverted orange button" id="showAddon">
				<span class="addonButton"><%= semantic_icon "dropdown" %> Show Add-ons</span>
				<span class="addonButton" style="display: none;"><%= semantic_icon "dropdown" %> Hide Add-ons</span>
			</button>
		</div>
	</div>
</div>

