<div class="column">
  <div class="ui centered card dimmerCard">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <%= link_to semantic_icon("big inverted teal plus circular icon"), new_user_path %>
        </div>
      </div>
    </div>
    
    <div class="content newUserCardContent">
      <div class="description center aligned">
          <span class="newUserCardText">NEW<br><%= user_role %></span>
      </div>
    </div>
  </div>
</div>
