<% provide(:title, "User Management") %>
<%= render 'shared/admin_nav' %>

<div class="centered row">
	<div class="categoryTitle">User Management</div>
</div>

<div class="row">
	<div class="ui cards">
		<div class="card" id="dimmerCard">
			<div class="ui dimmer">
				<div class="content">
					<div class="center">
						<i class="huge circle user icon"></i>
					</div>
				</div>
			</div>
			
			<div class="content">
				<div class="description center aligned">
						<span style="font-size: 2em; font-weight: 600;">NEW<br>PROVIDER</span>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div class="row">
	<%= will_paginate %>
</div>

<div class="row">
<ul>
	<%= render @users %>
</ul>
</div>

<div class="row">
	<%= will_paginate %>
</div>
