<% provide(:title, "User Management") %>
<%= render 'shared/admin_nav' %>

<div class="centered row">
	<div class="categoryTitle">User Management</div>
</div>

<div class="four column stackable row">
	<div class="column">
		<div class="ui centered card dimmerCard">
			<div class="ui dimmer">
				<div class="content">
					<div class="center">
						<i class="big inverted teal plus circular icon"></i>
					</div>
				</div>
			</div>
			
			<div class="content" style="padding-top: 4em; padding-bottom: 4em;">
				<div class="description center aligned">
						<span style="font-size: 2em; font-weight: 600;">NEW<br>PROVIDER</span>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="ui centered card dimmerCard">
			<div class="ui dimmer">
				<div class="content">
					<div class="center">
						<i class="big inverted teal plus circular icon"></i>
					</div>
				</div>
			</div>
			
			<div class="content" style="padding-top: 4em; padding-bottom: 4em;">
				<div class="description center aligned">
						<span style="font-size: 2em; font-weight: 600;">NEW<br>ADMIN</span>
				</div>
			</div>
		</div>
	</div>	
	<div class="column">
		<div class="ui centered card dimmerCard">
			<div class="ui dimmer">
				<div class="content">
					<div class="center">
						<i class="big inverted teal plus circular icon"></i>
					</div>
				</div>
			</div>
			
			<div class="content" style="padding-top: 4em; padding-bottom: 4em;">
				<div class="description center aligned">
						<span style="font-size: 2em; font-weight: 600;">NEW<br>SHOPPER</span>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="ui centered card dimmerCard">
			<div class="ui dimmer">
				<div class="content">
					<div class="center">
						<i class="big inverted teal plus circular icon"></i>
					</div>
				</div>
			</div>
			
			<div class="content" style="padding-top: 4em; padding-bottom: 4em;">
				<div class="description center aligned">
						<span style="font-size: 2em; font-weight: 600;">NEW<br>DRIVER</span>
				</div>
			</div>
		</div>
	</div>


</div>

<div class="row">
	<%= will_paginate %>
</div>

<div class="row">
<ul>
	<%= render @users %>
</ul>
</div>

<div class="row">
	<%= will_paginate %>
</div>
