<% provide(:title, "User Management") %>
<%= render 'shared/admin_nav' %>

<div class="centered row">
	<div class="categoryTitle">User Management</div>
</div>

<div class="row">
		<%= will_paginate %>
</div>

<div class="row">
<ul>
	<%= render @users %>
</ul>
</div>

<div class="row">
	<%= will_paginate %>
</div>
