<div class="row">
	<div class="ui teal stackable three item menu">
		<%= nav_link("Menu Management", "#") %>
		<%= nav_link("Promotion Management", "#") %>
		<%= nav_link("User Management", users_path) %>
	</div>
</div>