<% if object.errors.any? %>
	<div class="ui error message" style="display:block;">
		<i class="close icon"></i>
		<div class="header">
			This form contains <%= pluralize(object.errors.count, "error") %>.
		</div>
		<ul class="list">
			<% object.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
