<div class="row">
	<div class="ui teal stackable <%= current_user.admin? ? "two" : "three" %> item menu">
		<% unless current_user.admin? %>
			<%= nav_link("Orders", shopper_orders_url(current_user.role)) %>
		<% end %>
		<%= nav_link("Messages", "#") %>
		<%= nav_link("Edit Profile", edit_user_url(current_user)) %>
	</div>
</div>