<div class="row">
	<div class="ui teal stackable four item menu">
		<%= nav_link("Orders", "#") %>
		<%= nav_link("Messages", "#") %>
		<%= nav_link("Edit Profile", edit_user_url(@user)) %>
		<% if current_user.admin? || current_user == @user %>
			<%= nav_link("Delete Account", leave_user_url(@user)) %>
 		<% end %>

	</div>
</div>