<%= provide(:title, "Summary") %>
<%= render 'orders/summary' %>

<div class="row">
	<h4 class="ui horizontal divider header" class="locationEditTopDivider">
	  <i class="shipping icon"></i>
	  Delivery Information
	</h4>
</div>

<%= render "orders/#{@template}" %>