<div class="ui segment">
  <div class="field">
    <div class="ui toggle checkbox">
      <input type="checkbox" name="delete_confirm" id="delete_confirm" tabindex="0" class="hidden">
      <label>Enable Delete Button</label>
    </div>
  </div>
</div>
<div class="field">
	<%= link_to "Delete Category", dish_category_path(@dish_category), method: "delete", class:"ui disabled inverted fluid red button deleteButton" %>
</div>