<%-# This view is controlled by RecipeController and rendered through recipes/manage view %> 

<% provide(:category_button_text, "Create New Category") %>
<% provide(:category_button_color, "blue") %>

<div class="ui fluid card">
	<div class="content">
		<div class="row">
			<%= render 'dish_categories/form' %>
		</div>

		<div class="row" id="categoryListing" style="margin-top: 1em; margin-bottom: 0.5em;">
			<div class="ui fluid card">
				<div class="content">
					<a class="ui orange tag label">Taichi Milktea</a>
					<% @dish_categories.each do |category| %>
						<%= link_to category.name, edit_dish_category_url(category), class: "ui #{category.active ? "orange" : "red"} tag label" %>
					<% end %>
				</div>
			</div>
		</div>	

		<div class="row" style="margin-top: 0.6em;">
			<button class="ui fluid inverted orange button" id="showCategories">
				<span class="categoryButton"><%= semantic_icon "dropdown" %> Show Categories</span>
				<span class="categoryButton" style="display: none;"><%= semantic_icon "caret up" %> Hide Categories</span>
			</button>
		</div>
	</div>
</div>