<% provide(:title, "Edit Dish Category") %>
<% provide(:category_button_text, "Update Dish Category") %>
<% provide(:category_button_color, "red") %>

<div class="row">
	<div class="ui breadcrumb">
	  <%= link_to "Menu Management", manage_recipes_url, class: "section" %>
	  <i class="right angle icon divider"></i>
	  <div class="active section">Edit Category</div>
	</div>
</div>

<div class="one column row">
	<div class="fluid column">
		<%= render 'form' %>
	</div>
	<div class="fluid column">
		<%= render 'shared/toggle_active_button', object: @dish_category, name: "Category" %>
	</div>
	<div class="fluid column">
		<small>**Extreme Caution: Changing category status will affect all belonging menu items!</small>
	</div>
</div>
