<% provide(:title, "Edit Dish Category") %>
<% provide(:button_text, "Update Dish Category") %>
<div class="row">
	<div class="ui breadcrumb">
	  <%= link_to "Menu Management", manage_recipes_url, class: "section" %>
	  <i class="right angle icon divider"></i>
	  <div class="active section">Edit Category</div>
	</div>
</div>

<div class="row">
	<%= render 'form' %>
</div>
<div class="row">
	<div class="fluid column">
		<%= render 'delete_button' %>
	</div>
</div>