@import "semantic-ui";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Layout */

.ui.vertical.menu{
	margin-top: -15px;
	display: none;
}

.computer.tablet .ui.menu{
	margin-top: 1em;
}

pre{
	border: solid 1px #D6D6D6;
  background-color: #EFEFEF;
}
#footer{
	padding-top:0;
}

/* Debugger */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* signup */
.ui.form .field > label{
	font-size: 1.1em;
}

.ui.header.title{
	margin: 0 auto;
}
#signupForm, #loginForm, #deleteUserForm{
	width: 80%;
	margin: 0 auto;
}
.field_with_errors{
	width: 100%;
}
input{
	width: 100%;
}
.ui.form .error input[type="text"], .ui.form .error input[type="password"], .ui.form .error div.selection {
    background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    box-shadow: none;
    width: 100%;
}
.error label{
  font-size: 1.1em;
  color: #9f3a38;
}

/* user listing */

.pagination {
  width: 100%;
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  border-radius: 0.4em;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .pagination a, .pagination span {
    padding: 0.2em 0.3em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }

p.unactivatedUser, .unactivatedUser a{
  color:#FF4949;
}

/* recipe management */
#newRecipeForm .ui.grid > .column:not(.row){
  padding-bottom: 0;
}

#newRecipeDishCategory{
  display: none;
}

#newRecipeRow{
  padding-bottom: 3em;
  background-color: #F8F9FF;;
}

.dishCategoryRowInManage h1{
  font-size: 1.5em;
}

/* shopping cart */
#shoppingCartTable a.title{
  color: #696969;
  font-size: 1.2em;
}

#shoppingCartTable a + p {
    margin-top: 0.5em;
    font-size: 1.1em;
    letter-spacing: 0.3px;
}

.ui.input button input.linkInButton{
  padding: 0;
  background-color: transparent;
  border: 0;
}

button a{
  color: rgba(0, 0, 0, 0.6);
}
button a:hover{
  color: rgba(0, 0, 0, 0.8);
}

.ui.small.rounded.image.center{
  margin: 0 auto;
}
.centerBlock{
  padding-left: 30%;
}
p.cartItemPrice{
  font-size: 1.2em;
}

/* summary page */
#paymentSummary p{
  width: 100%;
}

div#checkoutPriceSummary{
  font-size: 1.1em;
  font-weight: 600;
}

#checkoutPriceSummary div.extra.content{
  color: rgba(0, 114, 173, 0.65);
}

a.linkNoColor{
  color: rgba(0,0,0,0.87);
}

#stripePaymentButton, #placeOrderButton, #payOnlineButton{
  display: none;
}

#deliveryInfoHeader{
  margin-top: 2em;
}
/* new pickup location and pickup time page*/
p.timeColon{
  font-size: 2.3em;
  font-weight: 900;
}

/* pickup location show page */
.locationShowColumn label{
  font-size: 1.1em;
  font-weight: 600;
}
.locationShowColumn p{
  font-size: 1.3em;
  margin-top: 0.3em;
}

#locationsTimesForm{
  width: 100%;
}

p.locationScheduleHeader{
  font-size: 1.1em;
  font-weight: 600;
}

.locationCalendarRow a.ui.label{
  margin-bottom: 0.3em;
}
.scheduleRow{
  margin-bottom: 0.3em;
}


p.locationActiveMark{
  color: #21ba45;
  font-weight: 600;
}

p.locationInactiveMark{
  color: #db2828;
  font-weight: 600;
}

/*pickup location edit page */
.locationEditTopDivider{
  margin-top: 1em;
}

/* menu */

/*.ui.inverted.table{
  background-color: #ECCE5B;
}*/
.menuDescriptionRow{
  margin-bottom: 0.2em;
}
.menuButton{
  color: inherit;
  margin-top: 0.6em;
}
.menuButtonRow{
  margin-bottom: 1em;
}

.categoryTitle {
  font-size: 1.4em;
  line-height: 1.4em;
  letter-spacing: 0.3em;
  margin-bottom: 1.2em;
  margin-top: 1em;
}

/* order show */
p.orderStatus{
  font-size: 1.3em;
  font-weight: 600;
}

.pending{
  color: #2185d0;
}
.error{
  color: #db2828;
}
.warning{
  color: #d67c1c;
}
.success{
  color: #A06A00;
}

div.ui.cards.orderShowCards div.card{
  width: 100%;
  text-align: center;
}
div.ui.cards.orderShowCards div.card:hover{
  background-color:#EFEFEF;
}


.ui.cards > .card > .content, .ui.card > div.orderShowCard.content{
  padding-bottom: 1.5em;
}

div.four.wide.column b{
  color: #A06A00;
}