@import "semantic-ui";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Layout */
.ui.vertical.menu{
	margin-top: -15px;
	display: none;
}

.computer.tablet .ui.menu{
	margin-top: 1em;
}

pre{
	border: solid 1px #D6D6D6;
  background-color: #EFEFEF;
}
#footer{
	padding-top:0;
}

/* Debugger */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* signup */
.ui.form .field > label{
	font-size: 1.1em;
}

.ui.header.title{
	margin: 0 auto;
}
#signupForm{
	width: 80%;
	margin: 0 auto;
}
.field_with_errors{
	width: 100%;
}
input{
	width: 100%;
}
.ui.form .error input[type="text"], .ui.form .error input[type="password"]{
    background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    box-shadow: none;
}
.error label{
  font-size: 1.1em;
  color: #9f3a38;
}