<div class="card">
  <div class="content">
  	<%= render 'orders/cards/item_card', orderable: orderable %>
  </div>
  <div class="extra content">
    <%= semantic_icon :food %>
		Price: $ <%= orderable.unit_price * orderable.quantity %>
  </div>
</div>