<div class="card">
  <div class="content">
		<% if orderable.buyable.is_a? MilkteaOrderable %>
			<%= render 'orders/cards/milktea_orderable_card', orderable: orderable %>
			<% else %>
				<%= render 'orders/cards/dish_orderable_card', orderable: orderable %>
		<% end %>
  </div>
  <div class="extra content">
    <%= semantic_icon :food %>
			Price: $ <%= orderable.unit_price * orderable.quantity %>
  </div>
</div>