<div class="content orderShowCard">	
	<div class="ui container stackable grid">
		<div class="centered row">
			<%= render 'orders/cards/order_summary_card_user_first_col', order: order, col_span: col_span %>
			<%= render 'orders/cards/order_summary_card_user_second_col', order: order, col_span: col_span %>
		</div>
	</div>
</div>