<%= form_for @locations_time, html: { class: ["ui", "form"], id: 'locationsTimesForm' } do |f| %>
	<%= render 'shared/error_msgs', object: f.object %>

	<div class="field">
		<%= f.label :pickup_time_ids, 'Select time of deliveries:' %>
		<%= f.collection_select(:pickup_time_ids, PickupTime.all, :id, :pickup_hour, { include_blank: "Existing delivery times" }, { multiple: true, class: "ui fluid dropdown"} ) %>
	</div>
<% end %>