<% flash.each do |message_type, message| %>
  <div class="row">
    <div class="ui <%=message_type%> message column">
      <%= semantic_icon :close %>
      <%= message %>
    </div>
  </div>
<% end %>