<div id="footer" class="row">
	<div class="ui text menu fluid">
		<p class="item">Teamond LLC. @ University of Rochester</p>
		<div class="right menu">
			<%= link_to "About", about_path, class: "item" %>
			<%= link_to "Q&A", questions_path, class: "item" %>
			<%= link_to "Contact", contact_path, class: "item" %>
			<%= link_to "Career", career_path, class: "item" %>
		</div>
	</div>
</div>